header.header
	.container 
		.header__wrapper

			button.burger.js-burger.btn-reset(aria-label='Меню')
				.burger__lines
					.burger__line
					.burger__line
					.burger__line

			a.header__logo(href='#' data-label="Главная")
				svg(width="45" height="34" alt="Логотип. NVIDIA")
					use(href="../img/sprite.svg#logo")

			.header__menu.js-header__menu
				nav.header__nav.nav
					ul.nav__list
						li.nav__item
							a.nav__link(href="#") Продукты
						li.nav__item
							a.nav__link(href="#") Технологии
						li.nav__item
							a.nav__link(href="#") Experience

				ul.header__social.social
					li.social__item
						a.social__link(href="#" data-label="Социальная сеть Twitter")
							svg(width='30', height='24', viewbox='0 0 30 24', fill='none', xmlns='http://www.w3.org/2000/svg')
								path(d='M30 2.8505C28.8742 3.33611 27.6807 3.65231 26.4593 3.7885C27.7535 3.04835 28.7182 1.85691 29.1626 0.449959C27.9578 1.15714 26.6369 1.65206 25.2593 1.9125C24.6946 1.32074 24.0149 0.846624 23.2605 0.518244C22.5062 0.189864 21.6925 0.0139032 20.8678 0.000791091C20.0431 -0.012321 19.2241 0.137682 18.4594 0.441911C17.6947 0.746139 16.9998 1.1984 16.4159 1.77189C15.8346 2.32717 15.3751 2.99378 15.0656 3.73062C14.7562 4.46746 14.6033 5.25891 14.6165 6.05614C14.6193 6.52202 14.6714 6.98634 14.7717 7.44163C12.3043 7.33049 9.8904 6.69535 7.69565 5.57975C5.52972 4.49062 3.61922 2.96741 2.08696 1.10804C1.53191 2.03329 1.24249 3.08955 1.24957 4.16408C1.24202 5.17383 1.49778 6.16859 1.99239 7.05321C2.46992 7.92172 3.15621 8.66191 3.9913 9.20913C3.01549 9.1751 2.06224 8.91089 1.21174 8.4387V8.51382C1.19222 9.92171 1.68888 11.2894 2.61065 12.366C3.50294 13.4483 4.75271 14.1881 6.14217 14.4564C5.61404 14.5932 5.07023 14.6624 4.52413 14.6625C4.13686 14.6592 3.75036 14.6277 3.36783 14.5681C3.76269 15.7703 4.52895 16.8212 5.55968 17.574C6.5904 18.3269 7.83417 18.7441 9.11739 18.7676C6.95109 20.4696 4.25452 21.3835 1.48304 21.355C0.987676 21.358 0.492536 21.3333 0 21.2812C2.8079 23.0795 6.09116 24.0248 9.44087 23.9995C11.5343 24.0143 13.6143 23.6689 15.587 22.9787C17.3795 22.3672 19.0441 21.4395 20.4991 20.2411C21.8564 19.0984 23.0394 17.7693 24.0117 16.2945C24.9722 14.8558 25.7129 13.286 26.2102 11.6354C26.6872 10.0557 26.9312 8.41676 26.9348 6.76879C26.9348 6.41867 26.9285 6.15608 26.9159 5.98102C28.1199 5.12072 29.1634 4.06155 30 2.8505Z', fill='#808080')
					li.social__item
						a.social__link(href="#" data-label="Социальная сеть Instagram")
							svg(width='25', height='25', viewbox='0 0 25 25', fill='none', xmlns='http://www.w3.org/2000/svg')
								path(d='M23.8157 0.934835C23.526 0.634234 23.1777 0.396216 22.7923 0.235477C22.407 0.0747376 21.9928 -0.00531095 21.5753 0.000273289H3.17466C2.75728 -0.00517341 2.34321 0.0749401 1.95799 0.235673C1.57277 0.396406 1.22456 0.634351 0.93483 0.934835C0.63427 1.2245 0.396274 1.5727 0.235536 1.95794C0.0747968 2.34318 -0.00527306 2.75727 0.000269265 3.17466V21.5753C-0.00527306 21.9927 0.0747968 22.4068 0.235536 22.7921C0.396274 23.1773 0.63427 23.5255 0.93483 23.8152C1.22454 24.1157 1.57275 24.3536 1.95797 24.5144C2.3432 24.6751 2.75728 24.7552 3.17466 24.7497H21.5753C22.4158 24.7452 23.2206 24.4093 23.815 23.815C24.4093 23.2206 24.7452 22.4159 24.7497 21.5753V3.17466C24.7553 2.75732 24.6753 2.34325 24.5147 1.95802C24.354 1.57279 24.1161 1.22457 23.8157 0.934835V0.934835ZM8.88694 8.91869C9.34753 8.46179 9.8949 8.10168 10.4968 7.85959C11.0987 7.61749 11.743 7.4983 12.3917 7.50905C13.0429 7.49733 13.69 7.61607 14.2947 7.85825C14.8993 8.10044 15.4494 8.46118 15.9126 8.91923C16.3735 9.35913 16.7403 9.88796 16.991 10.4737C17.2417 11.0595 17.3709 11.69 17.3709 12.3271C17.3709 12.9643 17.2417 13.5948 16.991 14.1805C16.7403 14.7663 16.3735 15.2951 15.9126 15.735C15.4495 16.1931 14.8994 16.5539 14.2947 16.7961C13.69 17.0383 13.043 17.157 12.3917 17.1452C11.743 17.1558 11.0987 17.0365 10.4968 16.7944C9.89486 16.5522 9.3475 16.192 8.88694 15.735C8.42589 15.2951 8.05888 14.7663 7.80812 14.1805C7.55737 13.5947 7.42808 12.9641 7.42808 12.3269C7.42808 11.6896 7.55737 11.059 7.80812 10.4732C8.05888 9.8874 8.42589 9.35856 8.88694 8.91869V8.91869ZM21.9466 20.9168C21.9495 21.0471 21.9252 21.1766 21.8753 21.2971C21.8253 21.4175 21.7509 21.5262 21.6566 21.6162C21.5658 21.7072 21.4577 21.7791 21.3387 21.8275C21.2196 21.8759 21.0921 21.9 20.9636 21.8982H3.73851C3.6087 21.9008 3.4797 21.8772 3.35924 21.8287C3.23879 21.7802 3.12938 21.7079 3.03757 21.6161C2.94576 21.5243 2.87345 21.4149 2.82498 21.2945C2.77652 21.174 2.75289 21.045 2.75553 20.9152V10.4736H5.0271C4.8112 11.1563 4.7023 11.8683 4.70428 12.5843C4.69076 13.573 4.88464 14.5536 5.27339 15.4628C5.66215 16.372 6.23715 17.1896 6.96132 17.8629C7.67488 18.571 8.523 19.1289 9.45565 19.5039C10.3883 19.8789 11.3866 20.0633 12.3917 20.0463C13.746 20.0568 15.0795 19.7121 16.259 19.0466C17.4163 18.4039 18.3834 17.4673 19.0627 16.3312C19.7463 15.2018 20.1033 13.905 20.0941 12.5848C20.096 11.8688 19.9872 11.1568 19.7713 10.4741H21.9466V20.9152V20.9168ZM21.9466 6.52768C21.9482 6.67419 21.9205 6.81954 21.8652 6.95521C21.8098 7.09088 21.728 7.21415 21.6244 7.31777C21.5208 7.4214 21.3976 7.50331 21.262 7.5587C21.1263 7.61409 20.981 7.64184 20.8345 7.64033H18.0313C17.8849 7.64184 17.7397 7.61412 17.6042 7.55879C17.4686 7.50346 17.3455 7.42164 17.242 7.31812C17.1384 7.2146 17.0566 7.09146 17.0013 6.95591C16.946 6.82037 16.9182 6.67515 16.9198 6.52875V3.86765C16.9183 3.72234 16.9461 3.57823 17.0016 3.44392C17.0571 3.3096 17.139 3.18784 17.2426 3.08589C17.344 2.97904 17.4665 2.89449 17.6024 2.83762C17.7383 2.78074 17.8846 2.75279 18.0319 2.75553H20.8355C20.9829 2.75268 21.1293 2.78058 21.2653 2.83746C21.4013 2.89434 21.5239 2.97895 21.6254 3.08589C21.729 3.1878 21.811 3.30956 21.8664 3.44388C21.9219 3.5782 21.9497 3.72233 21.9482 3.86765V6.52606L21.9466 6.52768Z', fill='#808080')
