section.intro
    .container

        h1.title.intro__title Преимущества G-&nbsp;SYNC
        p.descr.intro__descr.
            Каждый монитор с&nbsp;технологией G-SYNC проходит серьезное тестирование и&nbsp;контроль 
            качества для обеспечения максимальной производительности. 
            Сотни мониторов проходят контроль качества, но&nbsp;только 
            прошедшие все тесты получают сертификацию G-SYNC.

        include ../../feature

        a(class="btn intro__btn" href='#buyModal' data-toggle="modal") Купить
